/*background image for body that cover whole body and no repeating image*/
body {
    margin: 0px;
    background-image:url(../Images/mapbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*setting for container as above plus size of the container*/
#container {
    width: 1000px;
    height: 1000px;
    margin: 0 auto 0 auto;
    background-image: ;
    background-repeat: no-repeat;
    background-size: cover;
}

/*background size position for header*/
header {
    width: 1000px;
    height: 150px;
    background-image:url(../Images/mapheader.jpg);
    background-repeat: no-repeat;
    background-size: 1000px 150px;
}

/*setting for flying logo in header*/
#flyin {
    font-family: arial;
    font-size: 34px;
    color: #3B475B;
    text-align: ;
    vertical-align: center;
    line-height: 150px;
    padding: 0px 0px 0px 150px;
    margin: 0px;
}

/*navigation, navigation list settings*/
nav {
    width: 1000px;
    height: 50px;
    background-color: #3399ff;
    display: block;
    float: left;
}
nav ul li{
    list-style: none;
    display: inline;
    vertical-align: center;
    /*line-height: 50px; to get vertical align in center no need line heigth if nav float left*/
    padding: 0px 80px 0px 0px;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
/*setings for shadows in nav menu*/
nav ul li a:hover {
    background: #cc33cc; 
    color: ; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 4px; 
    padding: 15px 0px 15px 0px;
    margin: 0;
    text-decoration: none; 
}

img{
    width: 1000px;
    height: 450px;
    padding-left: ;
    padding-top: ;
}

.map {
    width: 1000px;
    height: 750px;
}

.map iframe{
    width: 1000px;
    height: 300px;
    padding-left: ;
    padding-top: ;
    margin: ;
}
marquee {
    color: ghostwhite;
    font-size: 24px;
    font-weight: bold;
}

footer {
    width: 1000px;
    height: 50px;
    background-color: #3399ff;
    text-align: center;
    vertical-align: middle;
    float: left;
    color: white;
}